@import './variables.scss';
@import './header.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  clear: both;
}
